<!DOCTYPE html>
<html lang='en' dir='ltr'>
  <head>
    <meta charset='utf-8'>
    <title>Cancelacion de pedido</title>
  </head>
  <body>
    <h3>Formulario de Cancelación de Pedido</h3>
    <form action='index.html' method='post'>
      Seleccione las razones por la que se cancela el pedido
      <br>
      <select name='razon'>
        <option value=''></option>
      </select>
      <br>
      Comentarios:
      <br>
      <textarea name='comentario' rows='8' cols='80'></textarea>
      <br>
      <input type='submit' name='' value='Enviar'>
    </form>
  </body>
</html>
