<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <fieldset>
      <legend><h2>Cancelaciones</h2></legend>
      Razón de la cancelación:
      <br>
      <select class="" name="RazónCancelación">
        <option value="1">No liquidó.</option>
        <option value="2">No se presentó.</option>
        <option value="3">Petición de usuario.</option>
        <option value="4">Otro.</option>
      </select>
      <br>
      Comentarios:
      <br>
      <input type="<textarea name="name" rows="50" cols="80" placeholder="Ingrese comentarios">
      <br>
      <a href="../Dynamics/Cancelación.php">Cancelación de Usuarios</a>
    </fieldset>
  </body>
</html>
