<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Inicio de sesion</title>
  </head>
  <body>
    <form class="" action="#.php" method="post">
      <div class="fieldset">
        <fieldset>
          <legend><h1>Bienvedido.</h1></legend>
          <h3>Por favor introduce tu usuario y contraseña</h3>
          <p>Usuario:</p>
          <input type="text" name="user" placeholder="&#128100; Usuario.">
          <p>Contraseña:</p>
          <input type="password" name="password" placeholder="&#128273; Contraseña.">
          <p>Tipo de usuario:</p>
          <select class="" name="type">
            <option value="Mensajero"> Mensajero </option>
            <option value="Administrador"> Administrador </option>
          </select>
          <br>
          <br>
          <input type="submit" name="" value=" INGRESAR ">
        </fieldset>
      </div>
    </form>
  </body>
</html>
