<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>INICIO_DE_SESIÓN</title>
  </head>
  <body>
    <fieldset>
      <legend>Inicio de Sesión</legend>
      <form action="../Dynamics/validacion_usr.php" method="post">
        Usuario (Número de cuenta, RFC o número de trabajador): <input type="text" name="id" value="">
        <br>
        <br>
        Contraseña: <input type="password" name="password" value=""  placeholder="Mínimo 8 caracteres">
        <br>
        <br>
        <input type="submit" name="" value="Enviar">
      </form>
      <button type="button" name="button" onclick="location.href='../Dynamics/Bienvenida.php'">Registro</button>
    </fieldset>
  </body>
</html>
