<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Agregar usuarios</title>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <form class="" action="../Dynamics/agregar-eliminar.php" method="post">
            <fieldset>
              <legend><h1>Agregar nuevo usuario</h1></legend>
              <input type="radio" name="tipo" value="Mensajero" required>Mensajero<br />
              <input type="radio" name="tipo" value="Administrador" required>Administrador<br />
              Nombre de usuario: <input type="text" name="usuarioagr" required><br>
              ID de usuario: <input type="text" name="id" required><br>
              Contraseña del usuario: <input type="password" name="paso" placeholder="Mínimo 8 carácteres" required><br>
              Llave de seguridad: <input type="password" name="llave" placeholder="Mínimo 8 carácteres" required><br>
              <input type="hidden" name="accion" value="agregar">
              <input type="submit" value="Añadir">
            </fieldset>
          </form>
        </td>
        <td>
          <form class="" action="../Dynamics/agregar-eliminar.php" method="post">
            <fieldset>
              <legend><h1>Eliminar usuario</h1></legend>
              <input type="radio" name="tipo" value="Mensajero" required>Mensajero<br />
              <input type="radio" name="tipo" value="Administrador" required>Administrador<br />
              ID de usuario a eliminar: <input type="text" name="id" required><br>
              Llave de seguridad: <input type="password" name="llave" placeholder="Mínimo 8 carácteres" required><br>
              <input type="hidden" name="accion" value="eliminar">
              <input type="submit" value="Añadir">
            </fieldset>
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
