<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ALUMNOS</title>
  </head>
  <body>
    <div align="center">
      <form action="index.html" method="post">
        <fieldset>
          <legend><h1>Registro de usuario (Alumno)</h1></legend>
          <input type="text" name="nombre" placeholder="Nombre" required>
          <br>
          <input type="text" name="noCuenta" value=""
          placeholder="Número de cuenta"
          title="El número de cuenta debe de tener exactamente 9 dígitos numéricos" pattern='\d{9}' required>
          <br>
          <input type="text" name="grupo" placeholder="Grupo" title="Debe ser un grupo valido de la preparatoria de 3 dígitos" pattern="[4-6][0156]((?<=[05])[0-9]|(?<=[16])[0-8])" required>
          <br>
          <input type="password" name="cont" placeholder="Contraseña" required>
          <br>
          <input type="submit" name="" value="Enviar">
        </fieldset>
      </form>
    </div>
  </body>
</html>
