<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>INICIO_DE_SESIÓN</title>
  </head>
  <body>
    <fieldset>
      <legend>Inicio de Sesión</legend>
      <form action="validacion_usr.php" method="post">
        Usuario: <input type="text" name="Usuario" value="">
        <br>
        <br>
        Contraseña: <input type="password" name="password" value=""  placeholder="Mínimo 8 caracteres">
        <br>
        <br>
        <input type="submit" name="" value="Enviar">
      </form>
    </fieldset>


  </body>
</html>
