<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TIPO_DE_USUARIO</title>
  </head>
  <body>
    <fieldset>
      <legend><h3>Soy...</h3></legend>
      <a href="../Dynamics/Funcionarios.php"> Funcionario </a>
      <br>
      <br>
      <a href="../Dynamics/Profesores.php"> Profesor </a>
      <br>
      <br>
      <a href="../Dynamics/Trabajadores.php"> Trabajador </a>
      <br>
      <br>
      <a href="../Dynamics/Alumnos.php"> Alumno </a>
    </fieldset>
  </body>
</html>
