<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TIPO_DE_USUARIO</title>
  </head>
  <body>
    <fieldset>
      <legend><h3>Selecciona tu tipo de usuario</h3></legend>
      <input type="submit" name="fun" value="Funcionario">
      <br>
      <br>
      <input type="submit" name="prof" value="Profesor">
      <br>
      <br>
      <input type="submit" name="trab" value="Trabajador">
      <br>
      <br>
      <input type="submit" name="alum" value="Alumno">
    </fieldset>


  </body>
</html>
