<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trabajador</title>
  </head>
  <body>
    <fieldset>
      <legend><h2>Ingrese sus datos</h2></legend>
      Nombre: <input type="text" name="nombre" value="" placeholder="Ingrese su nombre.">
      <br>
      Número de trabajador: <input type="text" name="No.Trabajador" value="" placeholder="Ingrese su número de trabajador">
      <br>
      Contraseña: <input type="password" name="contraseña" maxlength="8" value="" placeholder="Ingrese su contraseña" >
      <br>
      <input type="submit" name="" value="Enviar">
    </fieldset>

  </body>
</html>
